@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
* {
    
    text-decoration: none;
    list-style: none;
}
body {
    box-sizing: border-box;
    font-family: "Montagu Slab", serif;
    line-height: 35px;
}

/* The Header CSS section*/
header {
    background-color: dodgerblue;
    padding: 5px 0 1px;
    color: white;
}

/*Navbar CSS Section*/

nav ul {
    margin: 0;
    padding: 15px;
    background-color: grey;
    border: 3px solid dodgerblue;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

li  {
    display: inline;
    padding: 10px;
}
li a {
    color: white;
    
}
li a:hover {
    background-color: dodgerblue;
    padding: 18px;
    
}

/* Main */
/*The Greatest section CSS*/
.greatest-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.greatest-players .player1, .player3, .player4 {
  margin: 0;
  border: 2px solid hsl(0, 1%, 80%);
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.4);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
    
}
.greatest-players .player2 {
    margin: 0;
    border: 2px solid hsl(0, 1%, 80%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.4);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
      
  }
  .greatest-players .player1:hover {
    background-color: white;
    transform: skewY(7deg);
    transition: 1s;
    animation-name: ronaldo;
    animation-duration: 3s;
  }
  @keyframes ronaldo {
    from {
        background-color: rgb(224, 25, 25);
        
    }
    to{
        background-color: rgb(24, 201, 24);
    }
  }
  .greatest-players .player2:hover, .player4:hover {
    background-color: white;
    transform: skewX(-4deg);
    transition: 1s;
    animation-name: messi;
    animation-duration: 3s;
  }
  @keyframes messi {
    from {
        background-color: rgb(247, 247, 26) ;
        
    }
    to{
        background-color: skyblue;
    }
  }
  .greatest-players .player3:hover {
    background-color: yellow;
    transform: skewY(7deg);
    transition: 1s;
    animation-name: pele;
    animation-duration: 3s;
  }
  @keyframes pele {
    0%  {
        background-color: yellow;
    }
    50% {
        background-color: rgb(40, 60, 236) ;
        
    }
    100%{
        background-color: green;
    }
  }

.greatest-players img {
    max-width: 60%;
    border-radius: 100px;
    height: auto;
    padding-bottom: 10px;
}
.greatest-players h2 {
  text-align: center;
  font-family: cursive;
  margin: 0;
  color: hsl(0, 0%, 23%);
}
.greatest-players p {
  font-family: cursive;
  color: hsl(0, 0%, 30%);
}


/* Footer CSS*/
footer #calendar {
    text-align: left;
    padding-left: 10px;
}

footer ul li {
    display: block;
    text-align: start;
 }
 footer ul li a:hover {
    background-color: rgba(88, 21, 245, 0.5);
    border-radius: 20px;
    padding: 15px;
 }

footer {
    background-color: dodgerblue;
    padding: 5px 0 1px;
    color: white;
    text-align: center;

 }

